.row {
    margin-left: 20px;
    color: #fff;
    font-size: 1.08rem;
}

.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.poster::-webkit-scrollbar {
    display: none;
}

.poster:hover {
    transform: scale(1.09);
}

.poster {
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
}

.small_poster {
    cursor: pointer;
    max-height: 150px;
    max-width: 50%;
    margin-right: 10px;
}

.small_poster:hover {
    transform: scale(1.1);
}



